.home {
  text-align: center;
}

.header {
  background-color: rgba(0, 0, 0, 0.87);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
